.topnav .search-container {
  float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
.right-section{
    background-color:green;
    width: 200px;
}

.topnav {
    overflow: hidden;
    background-color: #000e76;
    margin-inline: 0px;
    margin-block: 1px;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }





  


  
  .card-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
    
    
  }

  .card {
    
    text-align:justify;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    
  }

  .card-container:hover .card {
    transform: rotateY(180deg);
  }

  .card-front, .card-back {
  
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: grid;
    
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
  }

  .card-front {
    background-color: #424242;
  }

  .card-back {
    background-color: #2196F3;
    transform: rotateY(180deg);
  }

  .glow {
    animation: glow 1s infinite alternate;
  }
  
  @keyframes glow {
    from {
      box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
    }
    to {
      box-shadow: 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00;
    }
  }
    